:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.main-layout {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.scratch-container {
  position: relative;
  width: 180px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scratch {
  width: 160px;
  height: 80px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border: 10px solid;
  border-color: #5f5f5f;
  background-color: #2f2f2f;
  top: 0;
  position: absolute;
}

.scratch-top {
  border-bottom: none;
  transform-origin: center bottom;
}

.scratch-bottom {
  border-bottom: none;
  transform: rotate(180deg);
  transform-origin: center bottom;
}

.rotating {
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 5px #ff1100;
  z-index: -1;
}

.keys-container {}

.key {
  width: 40px;
  height: 70px;
  margin: 10px;
  background: #5f5f5f;
}

.key-pressed-white {
  width: 40px;
  height: 70px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px #afafaf;
}

.key-pressed-blue {
  width: 40px;
  height: 70px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px #009fef;
}

.information-container {
  justify-content: flex-start;
  margin-top: 5vh;
  font-size: 30px;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}